# Cơ bản & Xử lý ảnh
numpy==1.26.4
Pillow
opencv-python

# Torch
torchsummary

# OCR & Inpainting
manga-ocr
simple-lama-inpainting
ultralytics
paddleocr==3.5.0
paddlepaddle==3.3.1
paddlex==3.5.2 

# AI & API
google-genai
pydantic
pydantic-settings
python-dotenv

# RabbitMQ async processing
aio-pika
httpx

# FastApi service
fastapi
uvicorn
python-multipart

# Test
pytest

# Minio
minio==7.2.5