# Cơ bản & Xử lý ảnh
numpy==1.26.4
Pillow
opencv-python
shapely
pyclipper
tqdm

# Torch
torchsummary

# OCR & Inpainting
manga-ocr
simple-lama-inpainting
ultralytics

# AI & API
google-generativeai
pydantic
pydantic-settings
python-dotenv

# RabbitMQ async processing
aio-pika==9.4.1
httpx==0.27.0

# Tiện ích
wandb
requests

# Test
pytest